/* Global Styles */
/* :root {
    --primary-color: #17a2b8;
    --dark-color: #343a40;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
  } */
body {
  color: #4a4a4a;
  background-color: #fff;
}
.mainContainer{
  
}
 .container {
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 40px;

   } 

   .course-nav li {
    display: inline-block;
    padding: 5px;
  }
  .course-nav li + li {
    margin-left: .6em;
  }
  .course-nav a {
    font-size: .85em;
    color: #164576;
    padding: .5em .8em;
    text-decoration: none;
    border-radius: .25em;
    background: #eaebeb;
    transition: .2s;
  }
  .course-nav a:hover,
  .course-nav a.active {
    color: #fff;
    background: #7498be;
  }

  .menuLinks {
    padding-right: '20px';
    padding-left: '20px';
    text-decoration: 'none';
  }
  /* .alert {
    padding: 0.8rem;
    margin: 1rem 0;
    opacity: 0.9;
    background: var(--light-color);
    color: #333;
  }

  .btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
} */
